* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to bottom, #000000 17%, #003366 105%)
}

.container {
    margin: 0 auto;
    width: 1440px;
}
ul {
    list-style: none;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px solid black;
}
.logo {
    border: 1px solid black;
}

.links {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

/* info about me */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
}
.ava {
    border: 1px solid black;
}
.aboutme {
    border: 1px solid black;
}

/* contact info */

.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid red;
}

/* main part */

.main {
    border: 1px solid green;
    display: grid;
    grid-template-columns: auto auto;
}
section {
    border: 1px solid blueviolet;
}

